/*---------------------------- Custom Button ------------------------------*/

.btn-custom {
	color: #ffffff;
	background-color: #333333;
	border-color: #333333;
}

.btn-custom:hover,.btn-custom:focus,.btn-custom:active,.btn-custom.active,.open .dropdown-toggle.btn-custom
	{
	color: #ffffff;
	background-color: #333333;
	border-color: #333333;
}

.btn-custom:active,.btn-custom.active,.open .dropdown-toggle.btn-custom
	{
	background-image: none;
}

.btn-custom.disabled,.btn-custom[disabled],fieldset[disabled] .btn-custom,.btn-custom.disabled:hover,.btn-custom[disabled]:hover,fieldset[disabled] .btn-custom:hover,.btn-custom.disabled:focus,.btn-custom[disabled]:focus,fieldset[disabled] .btn-custom:focus,.btn-custom.disabled:active,.btn-custom[disabled]:active,fieldset[disabled] .btn-custom:active,.btn-custom.disabled.active,.btn-custom[disabled].active,fieldset[disabled] .btn-custom.active
	{
	background-color: #333333;
	border-color: #333333;
}

.btn-custom .badge {
	color: #333333;
	background-color: #fff;
}

/*----------------------------------------------------------------------------*/

/*---------------------------- Top Navigation Bar ----------------------------*/

@media ( max-width : 1200px) {
	.navbar-header {
		float: none;
	}
	.navbar-toggle {
		display: block;
		border-color: #f47a20;
	}
	.navbar-collapse.collapse {
		display: none !important;
	}
}

.dropdown-menu {
	background-color: #333333;
}

.dropdown-menu > li > a:hover {
	background: #333333 !important
}

ul.nav a {
	color: white !important;
}

ul.nav a:hover {
	color: #f47a20 !important;
}

.nav>li>a:focus {
	background: #333333 !important
}

.navbar-header > a {
color: white;
}

.navbar-header > a:hover {
color: #f47a20;
}

.navbar-fixed-top {
	background-color: #333;
}

.nav>li>a {
	background: #333333 !important
}

#searchText,select,textarea {
	color: #fff;
}

/* ----------------------------------------------------------------------- */

.form-control-custom {
	display: block;
	width: 100%;
	height: 34px;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.428571429;
	color: #555555;
	vertical-align: middle;
	background-color: #ffffff;
	background-image: none;
	border: 1px solid #cccccc;
	border-radius: 4px;
}


/* Main section - leavin 70px padding for the top nav bar */
#main {
	padding-top: 70px;
	min-height: 100%;
	height: auto !important;
	height: 100%;
}

.panel-custom {
	border-color: #333;
}

.panel-custom>.panel-heading {
	color: #ffffff;
	background-color: #333;
	border-color: #333;
}


.bs-sidebar {
	padding-top: 70px;
}

.pull-left {
	float: left !important;
}

.pull-right {
	float: right !important;
	margin-left: 10px;
}

.carousel-inner>.item>img {
	margin: 0 auto;
}

.carousalImg img {width ="845" height:500px;
	max-height: 225px;
}

/*---------------------------- Success Alert ----------------------------*/

.ui-dialog.success-dialog {
	text-align: center;
	left: 0;
	outline: 0 none;
	padding: 0 !important;
	position: absolute;
	top: 0;
}

.success-dialog .ui-dialog-titlebar-close {
	display: none
}

.success-dialog .ui-widget-header {
	display: none
}

.success-dialog.ui-dialog-titlebar {
	padding: 0.1em .5em;
	position: relative;
	font-size: 1em;
}

.success-dialog .ui-dialog-buttonpane {
	text-align: center;
	background-image: none;
	padding: 0;
	border:none;
}

.success-dialog .ui-dialog-title {
	padding: 0.1em .5em;
	position: relative;
	font-size: 1em;
	background-color: white;
}

.success-dialog  .ui-dialog-buttonpane button {
	margin-right: 150px;
	cursor: pointer;
	background-color: #333333;
	border-color: #333333;
	color:white;
}

/*----------------------------
    The file upload form
    
    
-----------------------------*/
#upload {
	background-color: #373a3d;
	background-image: -webkit-linear-gradient(top, #373a3d, #313437);
	background-image: -moz-linear-gradient(top, #373a3d, #313437);
	background-image: linear-gradient(top, #373a3d, #313437);
	width: 100%;
	padding: 30px;
	border-radius: 3px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

#drop {
	background-color: #2E3134;
	padding: 40px 18px;
	margin-bottom: 30px;
	border: 20px solid rgba(0, 0, 0, 0);
	border-radius: 3px;
	border-image:
		url('themes/classic/images/border-image.png') 25
		repeat;
	text-align: center;
	text-transform: uppercase;
	font-size: 16px;
	font-weight: bold;
	color: #7f858a;
}

#drop a {
	background-color: #007a96;
	padding: 12px 26px;
	color: #fff;
	font-size: 14px;
	border-radius: 2px;
	cursor: pointer;
	display: inline-block;
	margin-top: 12px;
	line-height: 1;
}

#drop a:hover {
	background-color: #0986a3;
}

#drop input {
	display: none;
}

#upload ul {
	list-style: none;
	border-top: 1px solid #2b2e31;
	border-bottom: 1px solid #3d4043;
	padding-left: 0px;
}

#upload ul li {
	background-color: #333639;
	background-image: -webkit-linear-gradient(top, #373a3d, #313437);
	background-image: -moz-linear-gradient(top, #373a3d, #313437);
	background-image: linear-gradient(top, #373a3d, #313437);
	border-top: 1px solid #3d4043;
	border-bottom: 1px solid #2b2e31;
	height: 52px;
	position: relative;
}

#upload ul li input {
	display: none;
}

#upload ul li p {
	width: 100%;
	overflow: hidden;
	white-space: nowrap;
	color: #EEE;
	font-size: 16px;
	font-weight: bold;
	position: absolute;
	left: 80px;
}

#upload ul li i {
	font-weight: normal;
	font-style: normal;
	color: #7f7f7f;
	display: block;
}

#upload ul li canvas {
	top: 4px;
	left: 10px;
	height: 40px;
	position: absolute;
}

#upload ul li span {
	width: 15px;
	height: 12px;
	background: url('themes/classic/images/icons.png')
		no-repeat;
	position: absolute;
	top: 20px;
	right: 33px;
	cursor: pointer;
}

#upload ul li.working span {
	height: 10px;
	background-position: 0px;
}

#upload ul li.error p {
	color: red;
}