@media (max-width: 1200px) {
    .navbar-header {
        float: none;
    }
    .navbar-toggle {
        display: block;
        border-color: white;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
}

ul.nav a { color: #f47a20 !important; }
ul.nav a:hover { color: #f47a20 !important; }
.nav > li > a:focus{background:none !important}
.nav > li > a{background:none !important}

#main {
	padding-top: 70px;
	min-height: 100%;
	height: auto !important;
	height: 100%;
}

.icon-bar {
	background-color: #fff;
}
.panel-custom {
	border-color: #333;
}

.panel-custom>.panel-heading {
	color: #ffffff;
	background-color: #333;
	border-color: #333;
}



.navbar-fixed-top {
	background-color: #333;
}


.bs-sidebar {
	padding-top: 70px;
}

.pull-left {
	float: left !important;
}

.pull-right {
	float: right !important;
	margin-left: 10px;
}


.dropdown.open {
    background: #fff;
}


.dropdown.open .dropdown-toggle {
    color: #000;
}

