<div class="well well-sm">To assign someone a house please enter their username in WSO2 email account.</br>
Ex:If the new member is example@wso2.com, Enter 'example@wso2.com' or 'example'
</div>


<form class="form-horizontal" onsubmit="assignHouse(); return false;" id="myform" name="newEvent">
	<div class="form-group">
		<label for="name" class="col-sm-3 control-label">Member Name</label>
		<div class="col-sm-5">
			<input type="text" style="display: inline" class="form-control"
				id="name" placeholder="Enter Name" required>
		</div>
		<div class="col-sm-2">
			<button type="assign"
				class="btn btn-custom">Assign House</button>
		</div>
	</div>
</form>

<div id="assigned" style="display: none">
	<table id="assignedtable" class="table">
		<thead>
			<tr>
				<th>Name</th>
				<th>House</th>
			</tr>
		</thead>
		<tbody>
			<tr></tr>
		</tbody>
	</table>
</div>

<script>

function assignHouse(){
	
	$('#assigned').css("display" , "");
	
	var name = $('#name').val();
	
	var re = /\\*@wso2.com$/
	
	if (!re.test(name)) {
	    name = name+"@wso2.com";
	}
	
	$.ajax({
		type : "GET",
		contentType : "application/json",
		url : "api/houseAllocation.jag"+"?operation=assign&&name="+name,

		data : {},
		success : function(msg) {
			if(msg.success){
				$('#assignedtable tr:last').after('<tr><td>'+name+'</td><td>'+msg.house+'</td></tr>');
				$('#name').removeAttr('value');
			};
		}
	});



	
}

</script>