
	
<div style="padding-top: 10px">
	<h3>Awards </h3>
	<table class="table table-hover" id="activityTable">
	<thead>
			<tr>
				<th>Award name</th>
				<th>Event instance name</th>				
			</tr>
	</thead>			
		<tbody>	
				{{#each event_award_instance}}
 				
 					<tr onclick="document.location = {{url "/awards.jag/"}}{{event_award_id}}">
 						<td>{{event_award_id}}</td>
 						<td>{{event_instance_id}}</td>
 									
 					</tr>
 					
				{{/each}}				
	
		</tbody>
	</table>
	</div>

