<div class="well well-sm">To change a member's status please enter their username in WSO2 email account.</br>
Ex:If the new member is example@wso2.com, Enter 'example@wso2.com' or 'example'.
</div>

<form class="form-horizontal" onsubmit='search(); return false;' id="myform" name="newEvent">
	<div class="form-group">
		<label for="nameInput" class="col-sm-3 control-label">Member Name</label>
		<div class="col-sm-5">
			<input type="text" style="display: inline" class="form-control"
				id="nameInput" placeholder="Enter Name" required>
		</div>
		<div class="col-sm-2">
			<button type="assign" 
				class="btn btn-default">Search</button>
		</div>
	</div>
</form>

<div id="con-error" style="margin-top: 10px; display: none"
	class="alert alert-danger alert-dismissable">
	<button type="button" class="close" data-dismiss="alert"
		aria-hidden="true">&times;</button>
	<strong>Error!</strong> There was an error performing the operation
</div>

<table style="display: none" id="searchResults" class="table">

	<thead>
		<tr>
			<th>Name</th>
			<th>House</th>
			<th></th>
		</tr>
	</thead>

	<tbody>
	</tbody>

</table>

<script>

function search(){
	var houses= ['Cloud Bots', 'Legion', 'Titans' , 'WildBoars'];
	var name = $('#nameInput').val();
	$('#searchResults').css('display','');
	$('#searchResults > tbody').html('');
	
	$
	.ajax({
		type : "POST",
		contentType : "application/json",
		url : "{{url "/change-status.jag?name="}}"+name,

		data : {},
		success : function(
				msg) {
			if(msg){
				for (var i = 0; i < msg.length; i++) {
				if(msg[i].isActive=="true"){
					var button = '<button type="submit" onclick=\'deactivate("'+msg[i].name+'",$(this))\' class="btn btn-xs btn-warning">Deactivate</button>';
				}
				else{
					var button = '<button type="submit" onclick=\'activate("'+msg[i].name+'",$(this))\' class="btn btn-xs btn-success">Activate</button>';
				} 
				
				$('#searchResults > tbody:last').append('<tr><td>' + msg[i].name + '</td><td>'
								+ houses[msg[i].house_id] + '</td><td>'
								+ button + '</td></tr>'); 
			}
			}else{
				$('#searchResults > tbody:last').append('<tr><td COLSPAN=2>'+ '<div id="con-error" style="margin-top: 10px;" class="alert alert-danger alert-dismissable"><button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button><strong>Error!</strong> The querry doesnt match any names</div>'+ '</td></tr>'); 
			}
		}
	});
}

function deactivate(name,button){
	$
	.ajax({
		type : "GET",
		contentType : "application/json",
		url : encodeURI('{{url "/api/HouseManagement.jag"}}'+"?operation=deactivate&name="+name),
		data : {},
		success : function(
				msg) {
			
			if(msg.success="true")
					button.parent().html('<button type="submit" onclick=\'activate("'+name+'",$(this))\' class="btn btn-xs btn-success">Activate</button>');
				else
					$('#con-error').css('display',''); 
			}
		
	});
}

function activate(name,button){
	$
	.ajax({
		type : "GET",
		contentType : "application/json",
		url : encodeURI('{{url "/api/HouseManagement.jag"}}'+"?operation=activate&name="+name),
		data : {},
		success : function(
				msg) {
			if(msg.success="true")
					button.parent().html('<button type="submit" onclick=\'deactivate("'+name+'",$(this))\' class="btn btn-xs btn-warning">Deactivate</button>');
				else
					$('#con-error').css('display',''); 
			}
		
	});
}


</script>