<div class="panel panel-primary">
	<div class="panel-heading">
		<h3 class="panel-title">{{data.event.name}}</h3>
	</div>
	<div class="panel-body">Description : {{data.event.description}}
	</div>
	<!--  
	<div class="panel-body">Activities : <%=
		mustache.Mustache.to_html(activity_template.readAll(),
		data.activities)%> Event Awards : <%=
		mustache.Mustache.to_html(award_template.readAll(), data.awards)%></div>-->
</div>