<div>
        <div class="list-group">
                {{#each event}} <a href="{{url "/events/"}}{{id}}" class="list-group-item">
                        {{name}} : {{description}} </a> {{/each}}
        </div>
</div>