<div id="wrapper">
  <!-- Begin Logo -->
  <div id="leftcolumn">
  <br>
    <h1><a href=""><strong>Welcome</strong></a></h1>
  </div>
  <!-- End Logo -->
  <!-- Begin Right Utility Links -->
  <div id="centercolumn">
    <ul class="mainnav">
      
    </ul>
  </div>
  <!-- End Right Utility Links -->
  
  <br />
  <br> <br><br><br><br>
  <!-- End Banner -->
  <!-- Begin Main Left Column -->
  <div class="mainleftcolumn"><img src="themes/classic/images/hockey.jpg" alt="Feature Image Number 1" height="229" width="447"/> &nbsp; <img src="themes/classic/images/badminton.jpg" alt="Feature Image Number 2" height="229" width="447" />
    <div class="main-content">
      <h1> What do we offer?</h1><br> 
      We offer you the service of viewing current and past events and the awards related to them.Ypu and nominate or vote for the nominees for whichever the award you like.<br />
      <br />
      You can get youself assigned to a house if you are new, and view all the members of the house.We are also proving you the email list of your house. <br />
      <br /></div>
    
    
  </div>
  <!-- End Main Left Column -->
  <!-- Begin Main Right Column -->
  <div class="mainrightcolumn">
    <!-- Begin Right Blue Content -->
    <img src="themes/classic/images/mainrighttop.jpg" style="display:block;" alt="" />
    <div class="left-mid">
      <h1>Hello There.. </h1><br>
      Welcome to House Manager at WSO2.<br />
      <br />
      We bring you all the information about houses, events and all. <br />
      <br />
      Enjoy your spotrs carrer at WSO2 with House Mnager. <br />
      <br />
      <h1>Houses </h1> <br> 
      <ul>
        <li><img src="themes/classic/images/Cliub Logos-03.jpg" alt="Feature Text" height="50" width="50"/>Titans</li>
        <li><img src="themes/classic/images/Cliub Logos-01.jpg" alt="Feature Text" height="50" width="50"/>Cloud Bots</li>
        <li><img src="themes/classic/images/Cliub Logos-04.jpg" alt="Feature Text" height="50" width="50"/>WildBoars</li>
        <li><img src="themes/classic/images/Cliub Logos-02.jpg" alt="Feature Text" height="50" width="50"/>Legion</li>
        
      </ul>
      <br />
      </div>
    <img src="themes/classic/images/mainrightbottom.jpg" style="display:block;" alt="bottom banner" />
    <!-- End Right Blue Content -->
    <div class="left-bottom">
      <h1>you are at the right place </h1><br> 
      Enjoy house manger and get yourself updated and involved.<br />
      <br />
      
      <br />
       </div>
  </div>
  