<div >
<h1><a href="#">Welcome</a></h1>
<br>


<div id="upload-area" style=" float: right">
  

  <form action="/playground/ajax_upload" id="newHotnessForm">
    <label>Upload a photo</label>
    <input type="file" size="20" id="imageUpload" class=" ">
    <button class="button" type="submit">Save</button>
  </form>
</div>
 <br> <br> <br> <br>

<div id="carousel-example-generic" class="carousel slide" data-ride="carousel" >
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="active item"><img src="/TestApp2/themes/classic/images/1.jpg" alt="HTML5 logo" width="845" height="200" /></div>  
        <div class="item"><img src="/TestApp2/themes/classic/images/2.jpg" alt="JS logo" width="1000" height="600" /></div>  
        <div class="item"><img src="/TestApp2/themes/classic/images/3.jpg" alt="Schema.org logo" width="1000" height="600" /></div>  
        <div class="item"><img src="/TestApp2/themes/classic/images/4.jpg" alt="JSON logo" width="1000" height="600" /></div>  
  </div> 

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
</div>

 </div>
