<div style="margin-top:0" >
<h1 style="margin-top:0">Welcome</h1>

<div id="carousel-example-generic" class="carousel slide" data-ride="carousel" >
  <!-- Indicators -->
  
  <!-- Wrapper for slides -->
  <div class="carousel-inner">
        <div class="active item carousalImg"><img src="themes/classic/images/1.jpg" alt="JS logo"/></div>
        {{#each file}}
        	<div class="item carousalImg"><img src="images/{{ name }}" alt="JS logo"  width="845" height="500" /></div> 
        {{/each}}
        
  </div> 

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev" >
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
</div>

 </div>



