<h4>Select files you want to delete</h4>
<form action="delete-photo" method="post">
	<div class="form-group col-sm-offset-2 col-sm-10">
		{{#each file}}
		<div class="checkbox">
			<label> <input type="checkbox" name="name" value="{{name}}">
				{{name}}
			</label>
		</div>
		{{/each}}
	</div>

	<div class="form-group">
		<div class="col-sm-offset-2 col-sm-10">
			<button type="submit" class="btn btn-danger">Delete</button>
		</div>
	</div>
</form>