<div class="col-md-3" id="sidebar">
	<div class="bs-sidebar hidden-print" role="complementary">
		<ul class="nav bs-sidenav">
		
			<li><a href="{{url "/events/"}}">View Events</a></li>
			<li><a href="{{url "/addEvent.jag"}}">Add Event</a></li>
			
		</ul>
	</div>
</div>
