

	<div>
	<div class="">
	
	
<div style="padding-top: 10px">
	<h2>Nominees </h2>


	<form>
<table class="table" id="activityTable">
	<tbody>	
		
				{{#each names}}
 				
 					
 					<tr><input type="radio" name="Nominee_name" value="{{name}}">{{name}}<br><br> </tr>
				{{/each}}				
	
		</tbody>
	</table>




</form>	

	
		
	</div>

	</div>
</div>
