

	<div>
	<div class="">
	
	
<div style="padding-top: 10px">
	<h2>Nominees </h2>


	<form>
<table class="table" id="activityTable">
	<tbody>	
		
				{{#each names}}
 				
 					
 					<tr><input type="radio" name="Nominee_name" value="{{name}}">{{name}}<br><br> </tr>
				{{/each}}				
	
		</tbody>

		<button id="voteButton" type="submit" class="btn btn-default"
	onclick="">Vote</button><br>
	</table>



<form id="myform" name="newEvent">
	<div class="form-group">
		<label for="eventName">Add Nominee</label> <input type="text"
			class="form-control" id="eventName" placeholder="Enter Nominee Name"
			required>
	</div>
	
</form>
<button id="submitButton" type="submit" class="btn btn-default">Submit</button>

</div>
</div>
		
	</div>

	</div>
</div>








<script type="text/javascript">
		

		

		
		

		
		

		$(document)
				.ready(
						function() {

							$('#submitButton')
									.click(
											function() {

												var eventName = document
														.getElementById('eventName').value;
												

												$
														.ajax({
															type : "POST",
															contentType : "application/json",
															url : "{{url "/vote-list.jag"}}",

															data : JSON
																	.stringify({
																		"Nominee" : {
																			"name" : eventName,
																			
																		}
																		
																		
																	}),
															success : function(
																	msg) {
																if(msg.redirect){
																	window.location = msg.url;
																};
															}
														});

											});

						});





</script>

	




