

	<div>
	<div class="">
	
	
<div style="padding-top: 10px">
	<h3>Nominees </h3>
	<table class="table" id="activityTable">
	<thead>
			<tr>
				<th>voter ID</th>
				<th>Nominee ID</th>				
			</tr>
	</thead>	

	
		<tbody>	
		
				{{#each votes}}
 				
 					<tr>
 						
 						<th>{{voter_id}}  </th>
 						<th>{{nominee_id}}</th>
 											
 					</tr>
 					
				{{/each}}				
	
		</tbody>
	</table>
	</div>

	</div>
</div>
